body {
	    background-color: #70ebff  /* #eadcb4 */;
	    color:#001246;
        font-size: 75%;
        margin:0;
    }

    a {
	    text-decoration: none;
        color: #000;
        border-bottom: dashed 1px;
            padding-bottom: 2px;
    }



    img {
         width:100%;
    }


    #warp {
	    width: 98%;
	    margin: auto;
    }
    
    
    #xy{
        background-color: #FFFFFF;
        padding:20px 10px;
        color:#000000;
    }
    
    #footer a {
        color: #FFFFFF;
        border: none;
    }
    
    code {
	    background-color: #eadcb4;
	    font-size: 18px;
	    padding: .2em;
	    color: #6a5b5b;
    }
    
    i {
        background-color: #FFFFFF;
	    font-size: 85%;
	    padding: .1em;
	    color: #000000;
    }

    #xy ul li {
        display:inline-block;
        list-style:none;
    }

    #xy a {
       /* border: none; */
    }

    #jr {
        margin-left: 1%;
        border-top: dashed #fff 1px;
    }

    #warp li {
        padding-bottom: 3px;
    }